.nav{
	width :100%;
	box-sizing : border-box;
	font-size:25;
	margin-top:-5px;
	background-color:#E2E2ED;
}
#bear{
	width:10%;
	height:10%;
	margin:0;
}
#judul{
    text-align:center;
    color:red;
}
.kotak{
	padding: 20px;
	border:solid 1px;
	margin :5px;
}
li{
	display:inline;
}
li.baru{
	display:block;
	list-style-type:none;
	padding:20px;
	border:1px solid;
}
#z{
	color:red;
	
}
body{
	background-color:#043C34;
}
