.header{
	width :100%;
	box-sizing : border-box;
	font-size:25;
	margin-top:-5px;
	background-color:#E2E2ED;
}
.kotak{
	padding:0px;
	border:solid 1px;
	margin :0px;
}
#bearprofile{
	width:100%;
	height:100%;
	border-radius:50%;
	border:solid 1px;
	margin:0;
}
#bear{
	width:100%;
	height:100%;
	margin:0;	
}
#bearA{
	width:70%;
	height:70%;
}
#bearB{
	width:30%;
	height:30%;
}
#bearC{
	width:50%;
	height:50%;
}
#bearD{
	width:90%;
	height:90%;
	margin:50%;
}
#judul{
    text-align:center;
    color:red;
}
#textprofile{
	font-size:23px;
	overflow:auto;
}
body{
	background-color:#043C34;
}
p{
	text-align:left;
}