.header{
	width :100%;
	font-size:25;
	margin-top:-5px;
	background-color:#C3C3C3;
	padding:0;
	
}
.nav-centered{
  	float: none;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

#bear{
	width:10%;	
}

#bearfooter{
	width:100%;	
}

#judul{
    font-family:verdana;	
    text-align:center;
    color:white;
}

body{
	background-color:#042C34;
}
.footer{
    background:#C3C3C3;
    color:black;	
    min-width:100%;
    width:100%;
    bottom : 0;	
}    
h1 { 
    color : white;
    font-family: verdana;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
#menu {
	color: black !important;
	font-family : verdana;
}



