#bear_gif{
	height: 20em;
}

.welcome_text{
	font size: 40px;
	font-family:verdana;
	height: 15em;
    position: relative; 
}


.welcome_text h1{
	
	margin: 0;
    	position: absolute;
    	top: 60%;
    	left: 50%;
    	margin-right: -50%;
    	transform: translate(-50%, -50%);
}

.wel{
	font-family : verdana;
	color : black
}

.to{
	font-family : verdana;
}

LW{
	font-family : verdana;
}

#hotnew	{
	font-family:verdana;
	color:white;
	font-size : 20px;
	
}
#judul_vote{
	font-family:verdana;
	color:white;
	text-allign: center;
    	margin-top: 0.67em;
    	margin-bottom: 0.67em;
    	margin-left: 0;
    	margin-right: 0;
    	font-weight: bold;
}

.crop {
 height: 150px;
 width: 200px;
 overflow: hidden;
}

.crop img {
    width: 200px; 
    height: 1500px;
    object-fit: fill;
}


h1 { 
    color : white;
    font-family: verdana;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}


