.bearhot{
	width:70%;
	height:70%;
}
.bearnew{
	width:70%;
	height:70%;
}

.kotak{
	padding:0px;
	border:solid 1px;
	margin :0px;
}

#hotnew	{
	font-family:verdana;
	color:white;
	
}
#judul_vote{
	font-family:verdana;
	color:white;
	text-allign: center;
    	margin-top: 0.67em;
    	margin-bottom: 0.67em;
    	margin-left: 0;
    	margin-right: 0;
    	font-weight: bold;
}

